#define A 101
#define B 102
ICDialog DIALOG 70, 50, 241, 96
STYLE WS_OVERLAPPEDWINDOW
CAPTION "Решение функции"
FONT 8, "MS Sans Serif"
{
DEFPUSHBUTTON "OK", IDOK, 188, 21, 50, 14
PUSHBUTTON "Відміна", IDCANCEL, 188, 39, 50, 14

LTEXT "Введите данные", 10, 5, 5, 240, 8
EDITTEXT A, 12, 15, 91, 12
EDITTEXT B, 12, 30, 91, 12
}